 

 

  #Bg
  {

    background-repeat: no-repeat;
    height: 3811px;
    background-image: url(a1.jpg);
    background-size: 100%;
    
    width:100%
  }

  #Bg2
  {
    background-repeat: no-repeat;
    position: inline;
    background-image: url(a2.jpg);
    background-size: 100%;
    height: 3345px;
    width:100%;
    z-index: -1;
    

  }

  #Bg3
  {

    background-repeat: no-repeat;

    background-image: url(a3.jpg);
    background-size: 100%;
    height: 1845px;
    width:100%
  }


  #Bg4 
  {
      background-image: url(a4.jpg);
      background-size: 100%;
      height: 1896px;
      width: 100%;
      background-repeat: no-repeat;
  }


  .DeleteFolderDiv
  {
    position:relative;
    left:2%;
  }

 .DeleteFolder
 {
   
position: relative;
top: 25px;

 } 

  #nabar
  {
    width:200px;
    position:absolute;
    width:50%;
    right: 140px;
    top: 84px;
    font-size: 20px;
    line-height: 17px;
    vertical-align: middle;
  }



 
  .link
  {
  position: absolute;
  top:2846px;
  text-align:center;
  width:272px;
  margin-left: 0px;	

  }

  #lien1
  {
  left:165px;	
  }

  #lien2
  {
  left: 494px;	
  }

  #lien3
  {
  left: 820px;
  }

  #login
  {
    position:absolute;
    width:10%;
    right: 140px;
    top:160px;
    font-size: 20px;
    font-weight: bold; 
  }

  #login1
  {
    position:absolute;
    width:7%;
    left: 510px;
    top:160px;
    font-size: 20px;
    font-weight: bold; 
  }

  .Rimg
  {
  position: absolute;
  right:100px;
  }

  #img1
  {
  top:900px;

  }

  #img2
  {
  position: absolute;
  top:1380px;
  left: 100px;
  }

  #img3
  {
  top:1915px;

  }



  .textwidget
  {
  position: absolute;
  right: 110px;
  top: 3600px;
  font-size: 14px;
  color: lightgray;
  }
  .textwidget2
  {
  position: absolute;
  right:110px;
    
  top: 3154px;
  font-size: 14px;
  color: lightgray;
  }
  .textwidget4 
  {
      position: absolute;
      right: 110px;
      top: 1675px;
      font-size: 14px;
      color: lightgray;
  }
  .textwidget3
  {
  position: absolute;
  right: 110px;
  top: 1637px;
  font-size: 14px;
  color: lightgray;
  }

  .wpcf7-submit 
  {   
      left: -166px;
      bottom:1px;
      position:relative;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      padding: 0.375rem 0.75rem;
      height: calc(1.5em + 0.75rem + 4px);
      width: 100%;
      display: block;  
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px;
      border: 1px solid #747b80;
      border-left: none;
      background-color: #c4c7c9;
      color: #2b2e30;
      margin-left: -2px;
      width: auto;


  }

  .wpcf7-email
  {   
      background-image: url("newsletter.png");
      position: relative;
      left: 10px;
      border: 1px solid #ced4da;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      padding: 0.375rem 0.75rem;
      height: calc(1.5em + 0.75rem + 2px);
      width: 60%;
      display: block;  
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px;
      background-position: 92% 50%;
      background-repeat: no-repeat;
      border-right: none;
      padding-right: 50px;	
      border: 1px solid #747b80;
      background-color: #747b80;
      color: #fff;
  }

  .wpcf7-list-item-label  , [class="wpcf7-form invalid"]
  {
    position: relative;;
        left: -350px;
  }

  .accordionExample
  {

  position: relative;

  top: -885px;
  z-index: 8;
  }

  .video
  {	
    position: absolute;
    top:800px;
    left:71px;
  }

  #v2
  {	
    left: 71px;
    top: 1174px;
  }

  .fadenavimg 
{
    position: absolute;
    top: 80px;
    width: 400px;
    left: 50%;
    height: 300px;
}

  .tab-content
  {
    position: absolute;
    top:70px;

  }

  #default-tab
  {
  position: absolute;
  width:1284px;
  height: 855px;
  top:  -270px;
  background-image: url("1.jpg");
  background-size: 100%;
  opacity: 0.2;
  display: block;
    z-index: -1; 
  }

  .col-md-12
  {
      max-width: 60%;
  }

  body
  {
  padding: 0;
  margin: 0;
  }    

  .input-group
  {
      left: 450px;
  }

  .wpcf7-list-item-label 
  {
    position: relative;
    left:470px;
  }

  [name="rgpd[]"]
  {
  position: relative;
  left:460px;
  top:2.5px;
  }

  h5
  {
    position: relative;
    left: 110px
  }

.NavButton 
{
    bottom: -4px;
    position: relative;
}

.footer 
{
    left: 400px;
    position: relative;
    bottom: 244px;
    font-size: 14px;
    font-family: monospace;
    width: 65%;
}

.navFooter:hover
{
  background-color:transparent;
  height:100%;
  width:100%;
}

.navFooter
{
  position:relative;
  color:lightgray;
  
}

#footer_link1
{
bottom:10px;
}
#footer_link2
{

}
#footer_link3
{
top:10px;
}

#footer_link4
{
top:20px;  
}

.page1
{
top: -240px;
left: 435px;

}
.page2
{
  bottom: 218px;
  left: 429px;
}

.page3
{
  top: -241px;
  left: 423px;
}

.signin-title
{
position: relative;
left:200px;

}

.modal-form
{
position: relative;
left: -156px;
top: 38px;
}

#logout
{
  
background-color: black;
position: absolute;
width: 10%;
right: 38px;
top: 46px;
font-size: 20px;
font-weight: bold;

}

#logout:hover
{

height:44px;

}

#add
{
  background-color: black;
  position: relative;
  top: 200px;
  left: 432px;
  position: absolute;
  width: 10%;
  font-size: 20px;
  font-weight: bold;


}



.input_new1
{


}

.siteNav
{
position:relative;
top: 39px;
left:0px;
height:630px;
overflow-y:auto;
border-width:4px;
width: 241px;
z-index: 8;
background-color: lightgray;
opacity: 0.7;


}
#BGapp 
{
    background-image: url(app.jpg);
    background-size: 100%;
    height: 669px;
    width: 100%;
}

.Connexion_Problem
{
  position: absolute; 
  left: 23%;
  color:darkgray;
  top:0;
}

#fragment
{
    position: absolute;
    left: 18.5%;
    width: 81.5%;
    top: 41%;
    overflow-y: auto;
    height: 395px;

}

#usernav
{
background-color: gray;
height: 39px;
top: 0px;
position: absolute;
text-align: center; 
width: 241px;


}

#usernavtext
{
position: relative;
top: 7.5px;
color: honeydew;
}

.navlink
{
color:black;
position: relative;
top: 4px;


}

.navlink:hover
{
background-color:transparent;
color:midnightblue;
height:10px;
position:relative;
top:0px;
}

.ScrapMethod
{
font-size: 28px;
position: absolute;
top: 14%;
left: 30%;
color:black;
}

.Connexion_error
{
top: 18px;
left: 49%;
color: white;
position:absolute;
}

#Separator,#container
{
color:white;


}

.Respository
{


  bottom: 2px;
  position: relative;

}

.InsideFolder
{
  position: relative;
  left: 10px;
}

.navDiv
{
    height: 0px;
    width: 900px;
    line-height: 1;
}

.FolderDiv
{
width:900px;
height: 0px;
color: black;
}

.RespositoryFolder:hover
, .FolderDiv:hover
{
color: #2b2a2b;
background-color:transparent;
height: 0px;
position: relative;
display: block;
bottom: 0px;
}

.RespositoryNav
{
position: absolute;
top: 44px;
left: 258px;
width: 57.86%;
}

.ActionForm
{
left: 1%;
position: relative;
top: 1%;
}

.RespositoryList
{
position: absolute;
top: 85px;
left: 258px;
color: black;
background-color: lightgray;
opacity: 0.7;
width: 58%;
height: 584px;
overflow-y: auto;
border: 1px solid transparent;
line-height: 1.5;
border-color: #343a40;
border-radius: 0.25rem;
}

.InsideFolder2
{
  position:relative;
  left:25px;
} 





.SiteNavFolder
{
color:black;


}

.SiteNavFolder:hover
{
color:darkslategray; 
background-color:transparent;
height: 17px;
position: relative;
top:-4px;
}



.ReturnToRoot
{

color:black;
width: 753px;
background: bottom;
background-size: ;
}

.Add-Folder-title
{
position: relative;
left:180px;
}

#AddFolderBtn
{
position: relative;
bottom: -5px;
left: 0px;


}

.ModifyRespositoryNav
{

height: 23px;
position: relative;
top: 18px;



}

.ModifyRespositoryNav:hover
{
height:23px;
}

.InsideNavAction
{
position: relative;
bottom: 8px;  
}

.InsideFolderDelete
{
position: relative;
top:20px;
}

