 <div id=Bg4 style="";>
	 <div class="SocialMedia">
			<a target="_blank" title="Share on Facebook - Open in new window" 
		 	class="btn btn-facebook" 
			href="http://www.facebook.com/share.php?u=https%3A%2F%2Fwww.axians.com%2Fen%2Fthe-hospital-moves-to-customised-it%2F">
			</a>
		 	<a id="TwitterLink" target="_blank" title="Share on Twitter - Open in new window" 
		 	class="btn btn-twitter" 
			href="https://twitter.com/share?url=https%3A%2F%2Fwww.axians.com%2Fen%2Fthe-hospital-moves-to-customised-it%2F">
			</a>
	 </div>

			

<div class="textwidget4">
			<h5>Enter your mail to receive notifications</h5>
			<form action="" onsubmit="return false" method="post" class="wpcf7-form invalid" novalidate="novalidate">
			<div style="display: none;">
			<input type="hidden" name="_wpcf7" value="25"><br>
			<input type="hidden" name="_wpcf7_version" value="5.0.4"><br>
			<input type="hidden" name="_wpcf7_locale" value="en_US"><br>
			<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f25-o2"><br>
			<input type="hidden" name="_wpcf7_container_post" value="0">
			</div>
			<p><span id="hp5ca8ecd6647e7" class="wpcf7-form-control-wrap axianx-nl-wrap" style="display:none !important; visibility:hidden !important;"><label class="hp-message">Please leave this field empty.</label><input class="wpcf7-form-control wpcf7-text" type="text" name="axianx-nl" value="" size="40" tabindex="-1" autocomplete="nope"></span></p>
			<div class="">
			<div class="">
			<div class="input-group"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email wpcf7-not-valid " aria-required="true" aria-invalid="true"></span><span class="input-group-btn"><input type="submit" value="OK" class="wpcf7-form-control wpcf7-submit "></span></div>
			<p><!-- /input-group --></p></div>
			<p><!-- /.col-lg-12 --><span class="wpcf7-form-control-wrap rgpd"><span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required wpcf7-not-valid"><span class="wpcf7-list-item first last"><input type="checkbox" name="rgpd[]" value="Check this box to agree to receive information from Axians"><span class="wpcf7-list-item-label">Check this box to agree to receive information from Axians</span></span></span></span></p></div>
			<p><!-- /.row --></p>
			
			</form>
			</div>
			</div>
	
</div>


			
		</div>

		
</div>
<footer class="footer ">
            <a href="https://www.axians.com/en/" id="footer_link1" class="navFooter" > 
       Axians
      </a>
      <br>
       <a href="<%=home2_path%>#default-tab"  id="footer_link2" class="navFooter" > 
      Documentation
      </a>
      <br>
      <a href="<%=home4_path%>" id="footer_link3" class="navFooter" > 
      Contact
      </a>
        <br>                                            
      <a href="<%=signin_path%>"  id="footer_link4" class="navFooter" > 
      Connexion
      </a>
    </footer>