<div id=Bg3 style="";>
			


    <div class="textwidget3">
                <h5>Enter your mail to receive notifications</h5>
                <form action="" onsubmit="return false" method="post" class="wpcf7-form invalid" novalidate="novalidate">
                <div style="display: none;">
                <input type="hidden" name="_wpcf7" value="25"><br>
                <input type="hidden" name="_wpcf7_version" value="5.0.4"><br>
                <input type="hidden" name="_wpcf7_locale" value="en_US"><br>
                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f25-o2"><br>
                <input type="hidden" name="_wpcf7_container_post" value="0">
                </div>
                <p><span id="hp5ca8ecd6647e7" class="wpcf7-form-control-wrap axianx-nl-wrap" style="display:none !important; visibility:hidden !important;"><label class="hp-message">Please leave this field empty.</label><input class="wpcf7-form-control wpcf7-text" type="text" name="axianx-nl" value="" size="40" tabindex="-1" autocomplete="nope"></span></p>
                <div class="">
                <div class="">
                <div class="input-group"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email wpcf7-not-valid
                 " aria-required="true" aria-invalid="true"></span><span class="input-group-btn">
                 <input type="submit" value="OK" class="wpcf7-form-control wpcf7-submit 
                 "></span></div>
                <p><!-- /input-group --></p></div>
                <p><!-- /.col-lg-12 --><span class="wpcf7-form-control-wrap rgpd"><span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required wpcf7-not-valid"><span class="wpcf7-list-item first last"><input type="checkbox" name="rgpd[]" value="Check this box to agree to receive information from Axians"><span class="wpcf7-list-item-label">Check this box to agree to receive information from Axians</span></span></span></span></p></div>
                <p><!-- /.row --></p>
                
                </form>
                </div>
                </div>
        
    </div>
      


    <div  id="columbus-element-video" class="class=" columbus-element-video columbus-element" data-element="video">
      <div id="columbus-video-wrap" class="columbus-video-wrap">
        <video class="video columbus-video-output" width="560" height="315" controls>
        <source src="/videos/v1.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
      </div>
    </div>

    <video id="v2" class="video columbus-video-output" width="560" height="315" controls>
    <source src="/videos/v2.mp4" type="video/mp4">
    Your browser does not support the video tag.
    </video>


    <video id="v3"  class="video columbus-video-output" width="560" height="315" controls>
      <source src="/videos/v3.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <video id="v4"  class="video columbus-video-output" width="560" height="315" controls>
      <source src="/videos/v4.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
           
    </div>

		
</div>
 <footer class="footer page3">
           <a href="https://www.axians.com/en/" id="footer_link1" class="navFooter" > 
       Axians
      </a>
      <br>
       <a href="<%=home2_path%>#default-tab"  id="footer_link2" class="navFooter" > 
      Documentation
      </a>
      <br>
      <a href="<%=home4_path%>" id="footer_link3" class="navFooter" > 
      Contact
      </a>
        <br>                                            
      <a href="<%=signin_path%>"  id="footer_link4" class="navFooter" > 
      Connexion
      </a>
    </footer>