 
<input type=button class="axians1 btn btn-primary" onclick="location.href='home1'">
 
 <div id=Bg2 style="";>
			

<div class="textwidget2">
			<h5>Enter your mail to receive notifications</h5>
			<form action="" onsubmit="return false" method="post" class="wpcf7-form invalid" novalidate="novalidate">
			<div style="display: none;">
			<input type="hidden" name="_wpcf7" value="25"><br>
			<input type="hidden" name="_wpcf7_version" value="5.0.4"><br>
			<input type="hidden" name="_wpcf7_locale" value="en_US"><br>
			<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f25-o2"><br>
			<input type="hidden" name="_wpcf7_container_post" value="0">
			</div>
			<p><span id="hp5ca8ecd6647e7" class="wpcf7-form-control-wrap axianx-nl-wrap" style="display:none !important; visibility:hidden !important;"><label class="hp-message">Please leave this field empty.</label><input class="wpcf7-form-control wpcf7-text" type="text" name="axianx-nl" value="" size="40" tabindex="-1" autocomplete="nope"></span></p>
			<div class="">
			<div class="">
			<div class="input-group"><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email wpcf7-not-valid " aria-required="true" aria-invalid="true"></span><span class="input-group-btn"><input type="submit" value="OK" class="wpcf7-form-control wpcf7-submit "></span></div>
			<p><!-- /input-group --></p></div>
			<p><!-- /.col-lg-12 --><span class="wpcf7-form-control-wrap rgpd"><span class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required wpcf7-not-valid"><span class="wpcf7-list-item first last"><input type="checkbox" name="rgpd[]" value="Check this box to agree to receive information from Axians"><span class="wpcf7-list-item-label">Check this box to agree to receive information from Axians</span></span></span></span></p></div>
			<p><!-- /.row --></p>
			
			</form>
			</div>
			</div>
	
</div>

<div class="accordionExample">
	 

				

			<nav class="nav nav-pills flex-column flex-sm-row " onclick=""  id="pills-tab" role="tablist">
			  
			    <a class="nav-link  flex-sm-fill text-sm-center  " id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false">Click selector</a>
			 
			  
			    <a class="nav-link  flex-sm-fill text-sm-center " id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">HTML Selector</a>
			 
			  
			    <a class="nav-link  flex-sm-fill text-sm-center " id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">CSS Selector</a>

			    <a style="width:0px" > </a>

			</nav>
			<div class="tab-content" id="pills-tabContent">
			  <div class="tab-pane fade show  " id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
		Element click selector works similarly to Element selector. It's main purpose also is element selection that could be given as parent elements to its child selectors. The only difference is that Element click selector can interact with the web page by clicking on buttons to load new elements. For example a page might use JavaScript and AJAX for pagination or item loading.

		Note! when selecting clickable elements you should select them by moving the mouse over the element and pressing "S". This kind of selection will avoid events triggered by the button.
		<img class="fadenavimg" src="click1.png" >
			</div>
			  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
		HMTL selector can extract HTML and text within the selected element. Only the inner HTML of the element will be extracted.

		<img class="fadenavimg" src="click2.png" >
			  </div>
			  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
		It is possible to add new pseudo CSS selectors to Web Scraper. Right now there is only one CSS selector added.

Parent selector
CSS Selector _parent_ allows a child selector of an Element selector to select the element that was returned by the Element selector. For example this CSS selector could be used in a case where you need to extract an attribute from the element that the Element selector returned.
			<img  class="fadenavimg" src="3.png" >

			  </div>
			  <div class="tab-pane fade show active "  id="default-tab" >
				&nbsp;
			  </div>
				</div>	
		
</div>		

			
		</div>
<a class="fu-facebook fu-icon" target="_blank" title="Follow us on Facebook - Open in new window" href="https://www.facebook.com/axians.official"></a>
		
</div>
	    <footer class="footer page2">
            <a href="https://www.axians.com/en/" id="footer_link1" class="navFooter" > 
       Axians
      </a>
      <br>
       <a href="<%=home2_path%>#default-tab"  id="footer_link2" class="navFooter" > 
      Documentation
      </a>
      <br>
      <a href="<%=home4_path%>" id="footer_link3" class="navFooter" > 
      Contact
      </a>
        <br>                                            
      <a href="<%=signin_path%>"  id="footer_link4" class="navFooter" > 
      Connexion
      </a>
    </footer>