<table>
  <% @sites.each do |site| %>
    <tr>
      <td><%= link_to site.nom, site_path(site) %></td>
      <td><%= button_to 'Modifier lien', edit_site_path(site), method: 'get'%></td>
      <td><%= button_to 'Supprimer lien', site_path(site), method: 'delete',
       data: { confirm: "Voulez vous vraiment Supprimer le lien de #{site[:nom]} ?" } %></td>
  <% end %>
</table>
