<h3>Ajouter un Site</h3>
<%= form_with model: @site do |form| %>
  <%= form.text_field :nom, placeholder: "nom de site" %>
  <%= form.text_field :url, placeholder: "url" %>

  <%= form.submit 'Ajouter un site' %>
<% end %>