
<%

url=request.original_fullpath; 
index = url.index '?' 
if(index.nil?)

$site_id=Site.last.id;
else
$site_id=url[index+1, url.length ].to_i
end
site=Site.find($site_id)
url=Site.find($site_id).url


begin
    $e=""#connected
    $content = Nokogiri::HTML(open(url))
    rescue Exception => $e
end     

if ($e!="")
%>
    <script>   
        location.href='<%=root_path%>';
    </script>
<%else

time=Time.now.strftime("%d/%m/%Y %H:%M");


    Fragment.where(site_id:$site_id).update( 
        :length => 1 , :ordre => 1   , :content => $content , :updated_at => time)
    %>


    <%@site=Site.find($site_id)%>
    <%= render file: 'app/views/sites/show', layout: false %>
    <div class="ScrapMethod">
        <input type="radio" name="extractionMethod" checked>
        extraction of the whole page 
        <input type="radio" name="extractionMethod" id="Scrap" >
        Extraction of page Scraps  
        
            <form name=Sform  action="<%=scrap_path%>" >
            <input type=submit value="Validate" class="btn btn-dark button">    
                <div id="Sform">

                </div>
            </form>
    </div>

    <script>
    pageFragment=document.getElementById('fragment');
    FragmentContainer=Sform[1];
    form=document.forms.Sform;
    radio=document.getElementsByClassName('ScrapMethod')[0].getElementsByTagName('input');
    //Script mta3 extraction de données dans une page web ;
    i=0;var t=[] ;
    //x=document.documentElement.getElementsByTagName('head')[0];
    //x=x.outerHTML;
    y="<div id=Separator></div>";
    containerHTML="<div id='container'></div>";

    page=pageFragment.innerHTML;
    pageFragment.innerHTML=containerHTML+y+page;
    //t[0]=z
    z="";
    radio[1].onclick=function()
    {

        pageFragment.onclick= function(e) 
        {   
            
            e = e || window.event;
            var target = e.target.parentNode;
            //console.log("e = "+e.outerHTML+" e.srcElement = "+target.outerHTML);
            text = target.outerHTML ;
            containsSeparator=text.indexOf(document.getElementById('Separator').outerHTML);
            containsContainer=text.indexOf(document.getElementById('container').outerHTML);
            alert(text); 

            if(z.indexOf(text)==-1 && containsSeparator==-1 && containsContainer==-1)
            {
            container.innerHTML="";
            z+=text;
            t[i]=text;
            Separator=document.getElementById('Separator');
                if(Separator.innerText=="")
                {
                Separator.innerHTML="<hr><h2> voici le reste du site </h2> ";
                
                }
        
                
            containerHTML="<h1> ci-dessous les informations scrappés </h1>";
            container=document.getElementById('container');
            container.innerHTML=containerHTML;
            target.outerHTML='';
            container.innerHTML+=z;
            FragmentContainer.innerHTML+="<textarea class='d-none' name=fragment[content["+i+"]]>"+t[i]+"</textarea>"
            
            
            
            i++

            }
        console.log(z);

        };
        /*
        trécupéri el target : détéction de fragments à écouter
        */
    }
    radio[0].onclick=function()
    {
    pageFragment.onclick= null;
                                            
    alert('disabling the fragment function');

    }

    form.onsubmit=function()
    {

    Scrap();
    return false;
    
    }

    function Scrap()
    {
    j=1;
    x="fragment";
        if(radio[0].checked)
        {
            
            j=0;
            x="whole page";
            location.href="<%=site_path(site)%>";
        }    
    
    alert('you have '+i+' fragments ');
        if(i!=0)
        {
         form.submit();
        }

    }



    </script>
<%end%>