
<%

url=request.original_fullpath; 
index = url.index '?' 
if(index.nil?)

$site_id=Site.last.id;
else
$site_id=url[index+1, url.length ].to_i
end
%>


<%@site=Site.find($site_id)%>
<%= render file: 'app/views/sites/show', layout: false %>
<div class="ScrapMethod">
<form onsubmit="return false" >
<input type="radio" name="extractionMethod" checked>
extraction of the whole page 
<input type="radio" name="extractionMethod" id="Scrap" >
Extraction of page Scraps  
<input type=submit value="Validate" class="btn btn-dark button">
</form>
</div>

<script>






</script>