<nav class="nav nav-pills flex-column flex-sm-row RespositoryNav">
  <a class="flex-sm-fill text-sm-center nav-link RespositoryAction  btn btn-outline-light ModifyRespositoryNav "
  data-toggle="modal" data-target="#NewFolderModal" href="#"><font 
  class='InsideNavAction' >Modify Respository</font></a>

  <a class="flex-sm-fill text-sm-center nav-link RespositoryAction btn btn-outline-light ModifyRespositoryNav " href="#"><font 
  class='InsideNavAction' >Delete</font></a>
  
</nav>